.delete-action{
    text-align: center;
    background-color: #991303;
    width: 45%;
    /* display: flex; */
    /* justify-content: center; */
    margin: 0 auto;
    padding: 20px 0px;
    margin-bottom: 14px;
    color: white;
    font-weight: bold;
}