
    .banner{
        background-image: url("https://img3.goodfon.com/wallpaper/nbig/f/cd/tkan-sborki-linii-kraski-fon.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        color:$color;
        .add-h1{
            margin-bottom: 20px;
            padding-top: 100px;
          h1{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            font-weight: bold;
            color: wheat;
        }  
        } 
        .add-box{
            width: 45%;
            background-color: RGB(70, 61, 119,0.75);
            margin: 0 auto;
            padding: 25px;
            border-radius: 8px;
            h1{
                font-size: 30px;
                font-weight: bold;
                margin-bottom: 20px;
                text-align: center;
            }
        }
        .add-content-box{
            width: 100%;
            padding-bottom: 14px;
            border-bottom: 1px solid white;
        }
        .add-title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 14px;
        }
        .add-content{
            display: flex;
            justify-content: space-between;
        }
        }
        // .add-box{
            
        // }
        h2{
            font-size: 18px;
            font-weight: bold;
        }
        input{
            width: 80%;
            padding: 10px;
            background-color: transparent;
            border: 1px solid white;
            color: white;
            font-weight: bold;

                
        }
        .disabled{
            background-color: #f9f9f961;
            color:black;
        }
        input::placeholder{
            color:white;
        } 
        textarea::placeholder{
            color:white;
        }
        // input:disabled, textarea:disabled{
        //     opacity:1;
        //     -webkit-text-fill-color:#fd1212;
        // }
        input[type="date"]::-webkit-calendar-picker-indicator {
            // color: rgba(0, 0, 0, 0);
            // opacity: 1;
            display: block;
            background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Calendar_Icon_White.svg/429px-Calendar_Icon_White.svg.png) no-repeat;
            width: 22px;
            height: 22px;
            // border-width: thin;
            background-size: cover;
        }
        input[type="time"]::-webkit-calendar-picker-indicator {
            // color: rgba(0, 0, 0, 0);
            // opacity: 1;
            display: block;
            background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/1d/Clock_simple_white.svg/1200px-Clock_simple_white.svg.png) no-repeat;
            width: 20px;
            height: 20px;
            // border-width: thin;
            background-size: cover;
        }
        textarea{
            width: 80%;
            padding: 10px;
            height: 100px;
            background-color: transparent;
            border: 1px solid white;
            color: white;
            font-weight: bold;
        }
        
        .addStart-box{
            display: flex;
            margin-top: 14px;
            justify-content: space-between;
            padding-bottom: 14px;
            border-bottom: 1px solid $color;
            .addStart{
                display: flex;
                width: 80%;
                justify-content: space-between;
                &-item{
                    width: 40%;
                }
            }

        }

        .time-input{
            height: 40px;
            width: 100%;
        }
        .fontStyle{
            font-weight: bold;
            margin-bottom: 10px;
        }
        .add-stop{
            margin: 14px 0;
        }
        .checkbox{
            width: 85px;
        }
        .confirm-button-box{
            text-align: center;
           button{
            background-color: #9891bf;
            padding: 10px 15px;
            border: 0px;
            border-radius: 8px;
            &:hover{
                background: #5b519fe3;
                a{
                    color:wheat;
                    font-weight: bold;
                }
            }
            a{
                color: #322a64;
                text-decoration: none;
                font-weight: bold;
            }
        } 
        }
        
        
       
    
    



