.container{
    max-width: 1200px;
    margin: 0 auto;
    .nav-img{
        width: 180px;

    .link-c {
        color:black !important;
        font-weight: bold !important;
    }
    
}
}
.dropdown-menu{
    background: rgb(235 237 255);
    }
    .link-c:hover{
        background: rgb(180, 186, 245);
        color:white;
    }